<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Vue.JS - Computed & Watch 01</title>
</head>
<body>

  <div id="app">

    <div v-for="(carro) in carrosAzuis">
      {{ carro.marca }}
      <button @click="removerCarro">Remover carro</button>
    </div>

    <button @click="contador++">+</button>
    {{contador}}
    <button @click="contador--">-</button>

    <hr>

    <input type="text" placeholder="cep" maxlength="8" v-model="cep">
    <h1>{{cep}}</h1>
    <p>{{endereco}}</p>
  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        contador: 0,
        cep: '',
        endereco: '',
        carros: [
          {
          marca: "VW",
          cor: "Azul"
          },
          {
          marca: "Ford",
          cor: "Preto"
          },
          {
          marca: "Tesla",
          cor: "Azul"
          }
        ]
      },
      computed: {
        carrosAzuis() {
          return this.carros.filter(({ cor }) => cor === "Azul")
        }
      },
      watch: {
        contador(valorNovo, valorAntigo) {
          // console.log(this.contador)
          console.log(valorNovo)
          console.log(valorAntigo)
          // alert(this.contador)
          this.removerCarro()
        },
        cep(valor) {
          if (valor.length > 5) {
            fetch(`https://api.chucknorris.io/jokes/${valor}`)
            .then(response => response.json())
            .then(data => {
              this.endereco = data
              console.log(this.endereco)
              }
            )
          }
          // console.log(this.endereco)
        }
      },
      methods: {
        removerCarro() {
          this.carros.pop()
        }
      }
    })
  </script>

</body>
</html>


<!-- https://www.viacep.com.br/ws/cep/json -->
