<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/vue.js"></script>
  <title>Vue.JS - Exercicio 09</title>
</head>
<body>

  <div id="app">

    <!-- <button @click="fetchApi">Buscar</button> -->
    {{fetchApi}}

    <h3>Choose a country: </h3>
    <select name="paises" id="paises" v-model="paisSelecionado">
      <option v-for="(pais) in paises" :value="pais.name">
        {{ pais.name }}
      </option>
    </select>

    <h1>{{ paisSelecionado }}</h1>
    <div v-if="paisSelecionado">
      <!-- <p>{{ paisMatch }}</p> -->
      <p>Capital: {{ paisMatch.capital }}</p>
      <p>Region: {{  paisMatch.subregion }}, {{ paisMatch.region }}</p>
      <p v-for="(moeda) in paisMatch.currencies">Coin: {{ moeda.symbol }}, {{ moeda.name }}</p>
      <p>Population: {{ paisMatch.population }}</p>
      <img :src="paisMatch.flags.png" :alt="paisMatch.name">

    </div>

  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        paises: [],
        paisSelecionado: '',
        paisMatch: {},
      },
      computed: {
        fetchApi() {
          fetch('https://restcountries.com/v2/all/')
          .then(response => response.json())
          .then(data => this.paises = data)
        }
      },
      watch: {
        paisSelecionado() {
          this.paisMatch = this.paises.find(pais => pais.name === this.paisSelecionado) || {}
        }
      }
    })
  </script>
</body>
</html>


<!--
  Você possui o nome e sobrenome do usuário em data,
  crie uma propriedade computed que retorne o nome completo

  Utilize a rest API para puxar as capitais dos paises
  Use um campo de select, onde o usuário pode selecionar o país.
  https://restcountries.com/v2/all

  Com uma função watch, mude a capital de acordo com o país selecionado:

  Ex de campo select:

  <select name="paises" id="paises" v-model="selecionado">
    <option v-for="pais in paises" :value="pais.name">
      {{pais.name}}
    </option>
  </select>
-->
