<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <title>Techno</title>
</head>
<body>

  <div id="app">


    <!-- HEADER -->
    <header class="header">
      <image class="logo" src="./assets/techno.svg" alt="Techno" />
      <div class="carrinho_menu" @click="carrinhoAtivo = !carrinhoAtivo">{{ carrinhoTotal | numeroPreco }} | {{ carrinho.length }}</div>
    </header>


    <!-- PRODUTOS -->
    <section class="produtos">
      <div v-for="(item) in produtos" @click="abrirModal(item.id)" :key="item.id" class="produto">
        <img :src="item.img" :alt="item.nome" class="produto_img"/>
        <div class="produto_info">
          <span class="produto_preco">{{ item.preco | numeroPreco }}</span>
          <h2 class="produto_titulo">{{ item.nome }}</h2>
        </div>
        <!-- {{ produto }} -->
      </div>
    </section>

    <!-- MODAL -->
    <section class="modal" v-if="produto" @click="fecharModal">
      <div class="modal_container">

        <div class="modal_img">
          <img :src="produto.img" :alt="produto.nome" />
        </div>

        <div class="modal_dados">
          <button @click="produto = !produto" class="modal_fechar">X</button>
          <span class="modal_preco">{{ produto.preco | numeroPreco}}</span>
          <h2 class="modal_titulo">{{ produto.nome }}</h2>
          <p>{{ produto.descricao }}</p>

          <!-- ADD CARRINHO BTN -->
          <button v-if="produto.estoque > 0" class="modal_btn" @click="adicionarItem">Adicionar Item</button>
          <button v-else class="modal_btn esgotado" disabled>Esgotado</button>

        </div>


        <!-- REVIEWS -->
        <div class="reviews">
          <h2 class="reviews_subtitulo">Reviews</h2>
          <ul>
            <li v-for="(review) in produto.reviews" class="review">
              <p class="review_descricao">{{ review.descricao }}</p>
              <p class="review_user">{{ review.nome }} | {{ review.estrelas }}</p>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <!-- CARRINHO -->
    <section class="carrinho_modal" :class="{ ativo: carrinhoAtivo}" @click="clickForaCarrinho">
      <div class="carrinho_container">
        <button class="carrinho_fechar" @click="carrinhoAtivo = !carrinhoAtivo">X</button>
        <h2 class="carrinho_titulo">Carrinho</h2>

        <div v-if="carrinho.length > 0">
          <ul class="carrinho_lista">
            <li class="carrinho_item" v-for="(item, index) in carrinho">
              <p>{{ item.nome }}</p>
              <p class="carrinho_preco">{{ item.preco | numeroPreco }}</p>
              <button class="carrinho_remover" @click="removerItem(index)">x</button>
            </li>
          </ul>

          <p class="carrinho_total">Total: {{ carrinhoTotal | numeroPreco }}</p>
          <button class="carrinho_btn">Finalizar Compra</button>
        </div>

        <!-- carrinho vazio -->
        <p v-else style="margin-top: 15px;">Nenhum item para mostrar</p>
      </div>
    </section>

    <!-- ALERTA -->
    <div class="alerta" :class="{ ativo: alertaAtivo}">
      <p class="alerta_mensagem">{{ mensagemAlerta }}</p>
    </div>
  </div>

  <script src="./app.js"></script>
</body>
</html>
