<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../vue.js"></script>
  <title>Vue.js - v-if</title>
</head>
<body>

  <div id="app">
    <template v-if="logado">
      <p>Connected</p>
      <button @click="logado = false">Log out</button>
    </template>

    <template v-else>
      <p>Not connected</p>
      <button @click="logado = true">Log in</button>
    </template>

    <hr>

    <!-- v-if nao renderiza o elemento caso seja false, v-show apenas adiciona d-block -->
    <p v-if="logado">Connected</p>
    <p v-show="logado">Connected</p>
  </div>




  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        logado: false
      }
    })
  </script>

</body>
</html>
