<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/vue.js"></script>
  <title>Vue.JS - Props</title>
</head>
<body>

  <div id="app">
    <lista-produtos :frutas="lista" titulo="Props titulo"></lista-produtos>
  </div>

  <script type="module">

    const ItemProduto = {
      name: 'ItemProduto',
      // props: ['nomeFruta'],
      props: {
        nomeFruta: String,
        total: [Number, String],
        cor: {
          type: String,
          required: true,
        },
        tamanho: {
          type: String,
          default: "Grande"
        }
      },
      template: `
        <li>
          <h2>{{ nomeFruta }}</h2>
          Nome: {{ nomeFruta }},
          {{ total + 2 }},
          {{ cor }},
          {{ tamanho }}
        </li>
      `
    }

    const ListaProdutos = {
      name: 'ListaProdutos',
      props: ['frutas', "titulo"],
      components: {
        ItemProduto
      },
      template: `
        <ul>
          <h1>{{ titulo }}</h1>
          <li v-for="(fruta, index) in frutas" :key="index+fruta" >{{ fruta }}</li>

          <hr>

          <item-produto
            v-for="(fruta, index) in frutas"
            :nomeFruta="fruta"
            :key="fruta"
            :total="20"
            cor="Verde"
          ></item-produto>
        </ul>
      `
    }

    const vm = new Vue({
      el: '#app',
      data: {
        lista: ['Banana', 'Laranja', 'Uva']
      },
      components: {
        ListaProdutos
      }
    })
  </script>

</body>
</html>
