<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../vue.js"></script>
  <title>Vue.JS - v-model</title>
</head>
<body>

  <div id="app">
    <!-- lazy reatividade??? -->
    <label for="name">Name: </label>
    <input v-model.lazy="name"/>
    <br>
    <label for="email">Email: </label>
    <input v-model.trim="email"/>
    <br>
    <label for="year">Year: </label>
    <input type="text" v-model.number="year">

    <br>

    {{ remind }}
    <label for="remind">Remind me!</label>
    <input type="checkbox" id="remind" v-model="remind">

    <hr>

    <h2>{{ name }}</h2>
    <p>Email: {{ email }}</p>
    <p>Year: {{ year }}</p>

    <hr>

    <div>
      <input type="radio" v-model="color" name="blue" value="Blue" id="blue">
      <label for="blue">Blue</label><br>
      <input type="radio" v-model="color" name="green" value="green" id="green">
      <label for="green">Green</label>

      <p v-if="color">Color: {{ color }}</p>

      <hr>

      <select v-model="fruits">
        <option disabled >Choose a fruit</option>
        <option value="Banana">Banana</option>
        <option value="Mango">Mango</option>
        <option value="Grape">Grape</option>
      </select>

      <h3 v-if="fruits">Selected fruit: {{ fruits }}</h3>
    </div>

  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        name: 'Renan',
        email: 'email@email.com',
        remind: '',
        color: '',
        fruits: '',
        year: ''
      }
    })
  </script>

</body>
</html>
